@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    var root = Model.Root() as ContentModels.Home;
}

<footer class="footer">
    @if (root.TLinks.Any())
    {
        <div class="container pt-3 pb-3">
            <div class="d-flex flex-wrap ">
                <div>
                    Follow us:
                </div>
                <div class="d-flex flex-wrap">

                    @foreach (var item in root.TLinks)
                    {
                        if (item.Link is Umbraco.Web.Models.Link link)
                        {

                            if (!string.IsNullOrWhiteSpace(link.Url) && !string.IsNullOrWhiteSpace(item.TImage.MediaItem.Url))
                            {
                                <a href="@link.Url" class="footer__link d-block">
                                    <img src="@item.TImage.MediaItem.Url" alt="@item.TAlternativeText" class="footer__link-img">
                                </a>
                            }
                        }

                    }

                </div>

            </div>
        </div>
    }

    @if (!string.IsNullOrWhiteSpace(root.TCopyright))
    {
        <div class="footer__copyright p-2">
            <div class="container">
                @(root.TCopyright)
            </div>
        </div>
    }
</footer>