@inherits Umbraco.Web.Mvc.UmbracoViewPage

<footer class="footer">

    <div class="container pt-3 pb-3">
        <div class="d-flex flex-wrap ">
            <div>
                Follow us:
            </div>
            <div class="d-flex flex-wrap">
                <div>
                    <a href="#" class="footer__link">
                        <img src="./images/icons/Facebook_icon2.png" alt="icon facebook"
                             class="footer__link-img">
                    </a>
                </div>
                <div>
                    <a href="#" class="footer__link">
                        <img src="./images/icons/Twitter_icon2.png" alt="icon twitter" class="footer__link-img">
                    </a>

                </div>
                <div>
                    <a href="#" class="footer__link">
                        <img src="./images/icons/Youtube_icon2.png" alt="icon youtube" class="footer__link-img">
                    </a>
                </div>
            </div>

        </div>
    </div>

    <div class="footer__copyright p-2">
        <div class="container">
            © 1994–2021 State «TestSite.com»
        </div>
    </div>
</footer>