@inherits Umbraco.Web.Mvc.UmbracoViewPage

<header class="header bg-light">
    <div class="container pt-2 pb-2">

        <nav class="w-100">
            <div class="container-fluid d-flex">
                <a class="d-block" href="#">
                    <img class="header__logo-img" src="~/images/logo.png" alt="logo">
                </a>
                <div class="flex-grow-1 d-flex align-items-center justify-content-lg-between justify-content-end">

                    <ul class="d-none d-lg-flex flex-grow-1 mb-0 ">
                        <li class="me-3 position-relative list-nav">
                            <a href="#">Products</a>

                            <ul class="position-absolute p-0 ms-1 d-block">

                                <li class="p-1">
                                    <a href="#" class="d-block">Salesmatrix</a>
                                </li>
                                <li class="p-1">
                                    <a href="#" class="d-block">SWOT</a>
                                </li>
                                <li class="p-1">
                                    <a href="#" class="d-block">Dashboards</a>
                                </li>
                                <li class="p-1">
                                    <a href="#" class="d-block">Consulting</a>
                                </li>

                            </ul>
                        </li>

                        <li class="me-3 position-relative list-nav">
                            <a href="#">Industries</a>

                            <ul class="position-absolute p-0 ms-1">

                                <li class="p-1">
                                    <a href="#" class="d-block">Wholesale Distribution </a>
                                </li>
                                <li class="p-1">
                                    <a href="#" class="d-block">Manufacturing</a>
                                </li>
                                <li class="p-1">
                                    <a href="#" class="d-block">Consulting</a>
                                </li>

                            </ul>
                        </li>

                        <li class="me-3 position-relative list-nav">
                            <a href="#">Support</a>

                            <ul class="position-absolute p-0 ms-1">

                                <li class="p-1">
                                    <a href="#" class="d-block">Salesmatrix Support Site (Link) </a>
                                </li>
                                <li class="p-1">
                                    <a href="#" class="d-block">SWOT Support Site (Link) </a>
                                </li>
                                <li class="p-1">
                                    <a href="#" class="d-block">Downloads</a>
                                </li>
                                <li class="p-1">
                                    <a href="#" class="d-block">Salesmatrix Online Help </a>
                                </li>
                                <li class="p-1">
                                    <a href="#" class="d-block">SWOT Online Help </a>
                                </li>

                            </ul>
                        </li>


                        <li class="me-3">
                            <a href="#">News</a>
                        </li>

                        <li class="me-3">
                            <a href="#">About us</a>
                        </li>

                        <li class="me-3">
                            <a href="#">Request a demo</a>
                        </li>
                    </ul>
                    <form class="d-none d-lg-block">
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control header__input-search" placeholder="Search"
                                   aria-label="Recipient's username" aria-describedby="button-addon2">
                            <button class="btn header__btn-search " type="button" id="button-addon2">
                                &#128269
                            </button>
                        </div>
                    </form>

                    <form class="d-none d-lg-block position-relative btn-language">
                        <input type="text" id="language" class="d-none" name="language">
                        <button type="button" class="btn-language__main"></button>

                        <ul class="btn-language__list position-absolute left-0 p-0 m-0 mt-1">
                            <li class="mt-1">
                                <button class="btn-language__list__item" data-language="ukr" type="button"></button>
                            </li>
                            <li class="mt-1">
                                <button class="btn-language__list__item" data-language="eng" type="button"></button>
                            </li>
                            <li class="mt-1">
                                <button class="btn-language__list__item" data-language="rus" type="button"></button>
                            </li>
                            <li class="mt-1">
                                <button class="btn-language__list__item" data-language="pol" type="button"></button>
                            </li>
                        </ul>
                    </form>


                    <button class="btn-menu d-lg-none" type="button"></button>
                    <div class="position-absolute top-0 start-0 mobile-menu d-lg-none d-block">
                        <div class="d-flex justify-content-end p-3">
                            <button type="button" class="btn-close-menu p-2"></button>
                        </div>

                        <form class="mx-4 my-2">
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control header__input-search"
                                       placeholder="Search" aria-label="Recipient's username"
                                       aria-describedby="button-addon2">
                                <button class="btn header__btn-search " type="button" id="button-addon2">
                                    &#128269
                                </button>
                            </div>
                        </form>



                        <div class="p-3">
                            <ul class="ps-2">
                                <li class="mobile-menu__list-nav mobile-menu__item">
                                    <div class="d-flex justify-content-between">
                                        <a href="#" class="p-2 d-block w-100">Products</a>

                                        <button type="button" class="mobile-menu__btn-open">&#709</button>
                                        <button type="button"
                                                class="mobile-menu__btn-close d-none">
                                            &#708;
                                        </button>
                                    </div>

                                    <ul class="ps-2">

                                        <li class="p-2">
                                            <a href="#" class="d-block">Salesmatrix</a>
                                        </li>
                                        <li class="p-2">
                                            <a href="#" class="d-block">SWOT</a>
                                        </li>
                                        <li class="p-2">
                                            <a href="#" class="d-block">Dashboards</a>
                                        </li>
                                        <li class="p-2">
                                            <a href="#" class="d-block">Consulting</a>
                                        </li>

                                    </ul>
                                </li>

                                <li class="mobile-menu__list-nav mobile-menu__item">
                                    <div class="d-flex justify-content-between">
                                        <a href="#" class="p-2 d-block w-100">Industries</a>

                                        <button type="button" class="mobile-menu__btn-open">&#709</button>
                                        <button type="button"
                                                class="mobile-menu__btn-close d-none">
                                            &#708;
                                        </button>
                                    </div>

                                    <ul class="ps-2">

                                        <li class="p-2">
                                            <a href="#" class="d-block">Wholesale Distribution</a>
                                        </li>
                                        <li class="p-2">
                                            <a href="#" class="d-block">Manufacturing</a>
                                        </li>
                                        <li class="p-2">
                                            <a href="#" class="d-block">Consulting</a>
                                        </li>

                                    </ul>
                                </li>

                                <li class="mobile-menu__list-nav mobile-menu__item">
                                    <div class="d-flex justify-content-between">
                                        <a href="#" class="p-2 d-block w-100">Support</a>

                                        <button type="button" class="mobile-menu__btn-open">&#709</button>
                                        <button type="button"
                                                class="mobile-menu__btn-close d-none">
                                            &#708;
                                        </button>
                                    </div>

                                    <ul class="ps-2">

                                        <li class="p-2">
                                            <a href="#" class="d-block">Salesmatrix Support Site (Link)</a>
                                        </li>
                                        <li class="p-2">
                                            <a href="#" class="d-block">SWOT Support Site (Link)</a>
                                        </li>
                                        <li class="p-2">
                                            <a href="#" class="d-block">Downloads</a>
                                        </li>
                                        <li class="p-2">
                                            <a href="#" class="d-block">Salesmatrix Online Help</a>
                                        </li>
                                        <li class="p-2">
                                            <a href="#" class="d-block">SWOT Online Help</a>
                                        </li>

                                    </ul>
                                </li>


                                <li class="mobile-menu__item">
                                    <a href="#" class="p-2 d-block">News</a>
                                </li>

                                <li class="mobile-menu__item">
                                    <a href="#" class="p-2 d-block">About us</a>
                                </li>

                                <li class="mobile-menu__item">
                                    <a href="#" class="p-2 d-block">Request a demo</a>
                                </li>

                            </ul>
                        </div>

                        <form class="position-relative btn-language ms-4">

                            <input type="text" id="language" class="d-none" name="language">
                            <button type="button" class="btn-language__main"></button>

                            <ul class="btn-language__list position-absolute left-0  p-0 m-0 mt-1 d-flex flex-wrap">
                                <li class="mt-1">
                                    <button class="btn-language__list__item" data-language="ukr" type="button"></button>
                                </li>
                                <li class="mt-1">
                                    <button class="btn-language__list__item" data-language="eng" type="button"></button>
                                </li>
                                <li class="mt-1">
                                    <button class="btn-language__list__item" data-language="rus" type="button"></button>
                                </li>
                                <li class="mt-1">
                                    <button class="btn-language__list__item" data-language="ukr" type="button"></button>
                                </li>
                                <li class="mt-1">
                                    <button class="btn-language__list__item" data-language="eng" type="button"></button>
                                </li>
                                <li class="mt-1">
                                    <button class="btn-language__list__item" data-language="rus" type="button"></button>
                                </li>
                                <li class="mt-1">
                                    <button class="btn-language__list__item" data-language="ukr" type="button"></button>
                                </li>
                                <li class="mt-1">
                                    <button class="btn-language__list__item" data-language="eng" type="button"></button>
                                </li>
                                <li class="mt-1">
                                    <button class="btn-language__list__item" data-language="rus" type="button"></button>
                                </li>
                                <li class="mt-1">
                                    <button class="btn-language__list__item" data-language="ukr" type="button"></button>
                                </li>
                                <li class="mt-1">
                                    <button class="btn-language__list__item" data-language="eng" type="button"></button>
                                </li>
                                <li class="mt-1">
                                    <button class="btn-language__list__item" data-language="rus" type="button"></button>
                                </li>
                                <li class="mt-1">
                                    <button class="btn-language__list__item" data-language="ukr" type="button"></button>
                                </li>
                                <li class="mt-1">
                                    <button class="btn-language__list__item" data-language="eng" type="button"></button>
                                </li>
                                <li class="mt-1">
                                    <button class="btn-language__list__item" data-language="rus" type="button"></button>
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
        </nav>

    </div>
</header>