@inherits Umbraco.Web.Mvc.UmbracoViewPage<NewsItem>
@{
	Layout = "Master.cshtml";
}


<main>
    <section class="container pt-3 mb-4 position-relative">
        <h1 class="text-center mb-3">@Model.THeadline</h1>
        <p class="text-end">@Model.TDate.ToString("dd.MM.yyyy")</p>
        <p class="mb-3 fw-bolder">
            @Model.TSummary
        </p>
        @Html.GetGridHtml(Model, "tContent")
    </section>

</main>