@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Web.PublishedModels.NewsList>
@{
    Layout = "Master.cshtml";

    //var model = Model.Root().Descendants<NewsList>();
    var model = Model;
    int x = 1;

}

<h1>News</h1>
