@inherits Umbraco.Web.Mvc.UmbracoViewPage<NewsItem>
@{
	Layout = "Master.cshtml";
}


<main>
    <section class="container pt-3 mb-4 position-relative">
        <h1 class="text-center mb-3">Title my new</h1>
        <p class="text-end">20.05.2021</p>
        <p class="mb-3 fw-bolder">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum
            has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
            and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the
            leap
            into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with
            the
            release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
            publishing
            software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
        <p>
            Ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the
            leap
            into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with
            the
            release of Letraset sheets containever since the 1500s, when an unknown printer took a galley of
            type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the
            leap
            into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with
            the
            release of Letraset sheets containever since the 1500s, when an unknown printer took a galley of
            type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the
            leappe specimen book. It has survived not only five centuries, but also the
            leap
            into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with
            the
            release of Letraset sheets containever since the 1500s, when an unknown printer took a galley of
            type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the
            leappe specimen book. It has survived not only five centuries, but also the
            leap
            into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with
            the
            release of Letraset sheets containever since the 1500s, when an unknown printer took a galley of
            type and

        </p>
        <p>
            Scrambled it to make a type specimen book. It has survived not only five centuries, but also the
            leap
            into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with
            the
            release of Letraset sheets containever since the 1500s, when an unknown printer took a galley of
            type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the
            leap
            into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with
            the
            release of Letraset sheets containever since the 1500s, when an unknown printer took a galley of
            type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the
            leap
            into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with
            the
            release of Letraset sheets contain
        </p>
        <p>
            Scrambled it to make a type specimen book. It has survived not only five centuries, but also the
            leap
            into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with
            the
            release of Letraset sheets containever since the 1500s, when an unknown printer took a galley of
            type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the
            leap
            into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with
            the
            release of Letraset sheets containever since the 1500s, when an unknown printer took a galley of
            type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the
            leap
            into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with
            the
            release of Letraset sheets contain
        </p>

        <div class="d-flex justify-content-center">
            <img class="w-50 mb-3" src="./images/new.jpg" alt="new">
        </div>

        <p>
            Scrambled it to make a type specimen book. It has survived not only five centuries, but also the
            leap
            into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
            with
            the
            release of Letraset sheets containever since the 1500s, when an unknown printer took a galley of
            type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the
            leap
            into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
            with
            the
            release of Letraset sheets containever since the 1500s, when an unknown printer took a galley of
            type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the
            leapg, remaining essentially unchanged. It was popularised in the 1960s with
            the
            release of Letraset sheets containever since the 1500s, when an unknown printer took a galley of
            type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the
            leap
            into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
            with
            the
            release of Letraset sheets contain
        </p>

        <p>
            It has survived not only five centuries, but also the
            leappe specimen book. It has survived not only five centuries, but also the
            leap
            into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with
            the
            release of Letraset sheets containever since the 1500s, when an unknown printer took a galley of
            type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the
            leap
            into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with
            the
            release of Letraset sheets containever since.
        </p>
        <p>
            It has survived not only five centuries, but also the
            leappe specimen book. It has survived not only five centuries, but also the
            leap
            into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with
            the
            release of Letraset sheets containever since the 1500s, when an unknown printer took a galley of
            type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the
            leap
            into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with
            the
            release of Letraset sheets containever since.
        </p>

    </section>

</main>